.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}