@font-face {
    font-family: "SofiaSansExtraCondensed";
    font-display: swap;
    src: url("../fonts/SofiaSansExtraCondensed-Light.woff2") format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: "SofiaSansExtraCondensed";
    font-display: swap;
    src: url("../fonts/SofiaSansExtraCondensed-Regular.woff2") format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: "SofiaSansExtraCondensed";
    font-display: swap;
    src: url("../fonts/SofiaSansExtraCondensed-Medium.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: "SofiaSansExtraCondensed";
    font-display: swap;
    src: url("../fonts/SofiaSansExtraCondensed-SemiBold.woff2") format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: "SofiaSansExtraCondensed";
    font-display: swap;
    src: url("../fonts/SofiaSansExtraCondensed-Bold.woff2") format('woff2');
    font-weight: 700;
}
